<!DOCTYPE html>


<!DOCTYPE html>
<html lang="se">

<head>
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/style.css">
</head>

<body>

	<div class="wrapper">
		<header>
			<h1>Gästboken.</h1>
		</header>
		<main>
			@RenderBody()
		</main>
		<footer>
			<p>Av Morgan Andersson - Kontakta mig via e-post: info@ameste.se</p>
		</footer>
	</div>
	<script src="js/script.js"></script>
</body>

</html>