@{
	ViewData["Titel"] = "Guestbook";
}
@model GuestModel
<partial name="~/Views/Partials/_LoggedUser.cshtml" />

<form asp-controller="Guest" asp-action="AddPost" method="post"> 

 <span asp-validation-for="User" class="errtext"></span><br />
 <label asp-for="User">Namn:</label><br />
 <input asp-for="User" /><br />

 <span asp-validation-for="Title" class="errtext"></span><br />
 <label asp-for="Title">Titel: </label><br />
 <input asp-for="Title"><br />

 <span asp-validation-for="GuestPost" class="errtext"></span><br />
 <label asp-for="GuestPost">Inlägg: </label><br />
 <textarea asp-for="GuestPost"></textarea><br />
 <input type="submit" value="Spara">

</form>


<div class="allposts">
 @foreach (var option in ViewData["options"] as IEnumerable<GuestModel>)
	{
	 <div class="singlepost">
	  <h3>@option.Title</h3>
	  <p>@option.GuestPost</p>
	  <p class="byline">Av: @option.User</p>
	 </div>
	}
</div>
