@{
	ViewData["Titel"] = "Login";
}
@model LoginModel

<h2>@ViewBag.Greeting</h2>

<form asp-controller="Login" asp-action="LoginAttempt" method="post">

 <span asp-validation-for="Username" class="err"></span><br />
 <label asp-for="Username">Username:</label><br />
 <input asp-for="Username" /><br />

 <span asp-validation-for="Genre" class="err"></span><br />
 <label asp-for="Genre">Choose your favorite genre: </label><br />
 <select asp-for="Genre" asp-items="Model.Genres">
  <option value="">Pick one</option>
 </select><br />

 <span asp-validation-for="Gender" class="err"></span><br />
 <label asp-for="Gender"></label><br />
 @foreach (var gender in Model.Genders)
	{
	 <input type="radio" asp-for="Gender" value="@gender" />@gender<br />
	}



 <input type="submit" value="Login">

</form>
